.modal {
	.modal-dialog {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

		.modal-content {
			border-radius: 0;

			.modal-header {
				h4 {
					font-weight: 300;
				    font-size: 24px;
				    padding: 5px 10px;
				}

				.close {
					margin: 8px 10px;
    				font-size: 28px;
				}
			}

			.modal-body {
				float: left;
    			margin-bottom: -15px;

    			.wax-form {
    				padding: 0;
    				margin: 0px 0 -10px 0;

    				.wax-section {
    					padding: 0 10px;
    				}

    				.wax-brow {
    					border: 0;
    				}
    			}
			}

			.modal-footer {
				border: 0;
				
				.btn-default {
					float: right;
				    width: calc(50% + 15px);
				    margin: 30px -15px -20px 0;
				    display: inline-block;
				    position: relative;
				    bottom: 5px;
				    padding: 20px 0px;
				    border-radius: 0;
				    border: 0;
				    background: #EEEEEE;
				}

				.btn-primary {
					float: right;
				    width: calc(50% + 15px);
				    margin: 30px 0 -20px -15px;
				    display: inline-block;
				    position: relative;
				    bottom: 5px;
				    padding: 20px 0px;
				    border-radius: 0;
				    border: 0;
				    background: #3dbbd2;

				    span.fa {
				    	font-size: 18px;
				    }
				}
			}
		}
	}
}