body {
	padding: 2px 8px;
	font-family: Helvetica, Arial;
    font-size: 13px;
    color: #222222;
}

p {
	margin: 0;
}

a, a:hover, a:active, a:visited, a:focus {
	color: #222222;
	text-decoration: underline;
}